:root {
  --color-primary: #806dbe;
  --color-primary-soft: #ddd6fe;
  --color-primary-strong: #7739db;
  
  --color-surface: #ffffff;
  --color-background: #cecece;

  --color-text: #1d1d1d;
  --color-text-primary: #ffffff;

  --font-size: 1rem;
}
